@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


/* credits UI/UX design @marcelodesignx*/

:root{

    --primary:#f33d58;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

html{
    background-color: white; 
    color:black;
}

body{
    width:100%;
    height:100%;
    min-height: 100vh;
}

/* header */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 10px 30px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 110px;
}
header ul li{
   font-weight: 500;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:black;
}
header ul .logo{
    font-weight: 700;
    font-size: 40px;
}
header ul .bag{
    font-size: 30px;
}

/* swiper */
.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background:#ad2020;
  width:15px;
  height:2px;
  
  
}

.swiper-pagination {
    bottom: 10px !important;
  }

.swiper-slide {
    width: 100%;
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    background-color: white;
  }


/* pizza  */

.pizza{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.pizza .pepperoni{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:translateY(-20px) ;
}

.pizza .pepperoni p{
    
    font-weight: 900;
    font-size: 140px;
    color:  var(--primary);
    opacity: 0.4;
    line-height: 120px;
    
}
.pizza .pepperoni #dark {
    opacity: 1;  
}

/* pizza image */

.pizza-img{
    position:absolute;
    top:42px;
    right:365px;
}
.pizza-img img{
    width: 600px;
}


/* pizza star */


.fa-star{
    position: absolute;
    padding: 15px;
    background-color: #e4f21c;
    border-radius: 25px;
    right:400px;
    top:155px;
}



/* pizza side menu */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap:30px;
   position: absolute;
   right: 100px;
   top:100px;
}
.menu .item{
    background-color: rgba(228, 225, 225, 0.7);
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.menu img{
    width:60px;
    height:60px;
    
}
.menu  .active{
    background-color: var(--primary);
    filter:drop-shadow(var(--primary) 0px 0px 5px);
    color:rgb(242, 233, 233);
}

/* pricing */

.pricing{
    position: absolute;
    display: flex;
    flex-direction: column;
    left:200px;
    top:150px;
    justify-content: space-evenly;
    gap:5px;
}
.pricing #time{
    word-spacing: 2px;
    font-weight: 450;
}

.pricing #time span{
    color: var(--primary);
}

.pricing-heading{
    padding:30px 90px 20px 20px;
    background-color: rgba(228, 225, 225, 0.7);
    border-radius: 10px;
    margin-left: -20px;
    
}
.pricing-heading h4 {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 10px;
}
.price {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    gap: 25px;
    margin-left:-15px;
    
}
.price p{
    font-weight: 1000;
    
}
.price p span{
    font-size: 40px;
}
.price i{
    padding:8px 18px 8px 18px;
    font-size: 15px;
    background-color:  var(--primary);
    border-radius: 5px;
    
}

.price input{
    width: 40px;
    text-align: center;
    color:white;
    background-color: rgb(42, 40, 40);
    border: black;
    outline: none;
   
}
.pricing h3{
    margin-left: -15px;
    margin-top: 8px;
}

.extra{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    gap: 40px;
    margin-left: -15px;
}
.extra .addit{
    background-color: rgba(228, 225, 225, 0.7);
    padding: 5px 30px 5px 10px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 5px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:10px;
}
.extra .addit img{
    width: 50px;
    height: 50px;
}

/* extra item tick*/

.pricing .fa-check {
    position: absolute;
    top:330px;
    left:146px;
    padding:5px;
    border-radius:20px ;
    background-color: #e4f21c;
    
}


/* Burger */




.Burger{
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.Burger .double-meat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform:translateY(-20px) ;
    
}

.Burger .double-meat p{
    
    font-weight: 900;
    font-size: 140px;
    color:  var(--primary);
    opacity: 0.3;
    line-height: 125px;
}
.Burger .double-meat #dark {
    opacity: 1;  
}



/* Burger image */


.burger-img{
    position:absolute;
    top:125px;
    right:230px;
}
    

.burger-img img{
    width: 550px;
    height: 500px;
}


/* Burger star */


.star2{
    position: absolute;
    top:140px;
    right: 350px;
    padding: 15px;
    background-color: #e4f21c;
    border-radius: 25px;
    
   
}

/* burger drinks tick */

.pricing .check2 {
    position: absolute;
    top:360px;
    left:146px;
    
    padding:5px;
    border-radius:20px ;
    background-color: #e4f21c;
    

}
